body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Calibri";
  color: #393939;
}
#navbar {
  min-width: 200px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
#navbar header {
  font-size: 1.2em;
  padding: 0.6em;
  text-align: center;
  border: 1px solid #393939;
}
#navbar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#navbar li {
  padding: 10px;
  border: 1px solid #393939;
  text-align: center;
}
a.nav-link {
  display: block;
  color: inherit;
  text-decoration: none;
}
main {
  width: 100%;
  padding: 0 2em;
}

@media (min-width: 200px) {
  body {
    flex-direction: column;
  }
}
@media (min-width: 500px) {
  body {
    flex-direction: row;
  }
}
